{% extends 'base.html' %}

{% block content %}
<section>
    <h2>Welcome to My Portfolio</h2>
    <div class="home-section">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Profile Picture" class="profile-pic">
        <p>Hi, I'm Atul Kumar, a dedicated and enthusiastic Software Developer with 5 years of professional experience.<br>
            Over the past 3 years, I have specialized in Python, PySpark, Hadoop, HDFS, and data engineering,
            honing my expertise in working with APIs, Pandas, Numpy, MySQL, and Flask.<br><br>
            I’ve led team members, managing task allocation and ensuring the seamless delivery of projects.
            <br><br>I have a strong passion for security-focused development, with hands-on experience in SIEM systems,
            where I’ve developed rules, reports, dashboards, and threat intelligence solutions,<br>
            along with effective log management practices. My work is deeply rooted in crafting secure, scalable solutions while staying at the forefront of big data and security technologies.
            Driven by my love for coding and an eagerness to learn,<br><br>
            I’m passionate about exploring the intersections of big data and cybersecurity.<br>
            I thrive on solving complex challenges and continuously expanding my skill set to create
            impactful, innovative solutions.</p>
    </div>
    <a href="{{ url_for('portfolio') }}" class="btn">View My Work</a>
</section>

<section>
    <h2>Achievements</h2>
    <div class="achievements">
        <h3>Experience</h3>
        <ul>
            <li><strong>Sattrix Software Solutions Pvt Ltd:</strong> Python/Pyspark Developer Dec, 2021 – Present</li>
            <li><strong>Sattrix Software Solutions Pvt Ltd:</strong> HR Executive Dec, 2019 – Nov, 2020</li>
        </ul>
        <h3>Education</h3>
        <ul>
            <li><strong>Bachelor of Arts (BA):</strong> Chhatrapati Shahu Ji Maharaj University, Kanpur Uttar Pradesh State University, 2018 – 2020</li>
            <li><strong>High School:</strong> G.G.S.S.H S & APS School, Uttar Pradesh State Board, 2015 – 2017</li>
        </ul>

        <h3>Certificates</h3>
        <div class="achievement-item">
            <img src="{{ url_for('static', filename='images/achievement1.jpg') }}" alt="Python Certificate" class="achievement-img">
            <p><strong>Certified Python Developer:</strong> TOPS Technologies Pvt. Ltd, 2021</p>
        </div>
        <div class="achievement-item">
            <img src="{{ url_for('static', filename='images/achievement2.jpg') }}" alt="SQL Certificate" class="achievement-img">
            <p><strong>Theoretical and practical understanding of SQL:</strong> Sololearn, 2021</p>
        </div>
        <div class="achievement-item">
            <img src="{{ url_for('static', filename='images/achievement3.jpg') }}" alt="Software Developer" class="achievement-img">
            <p><strong>Software Development:</strong> National Skill Development Corporation, 2021</p>
        </div>

        <h3>Professional Recognition</h3>
        <div class="achievement-item">
            <img src="{{ url_for('static', filename='images/achievement4.jpg') }}" alt="Employee of the Month" class="achievement-img">
            <p><strong>Employee of the Month:</strong> Recognized for exceptional performance at XYZ Company, June 2023</p>
        </div>
        <div class="achievement-item">
            <img src="{{ url_for('static', filename='images/achievement5.jpg') }}" alt="Top Innovator" class="achievement-img">
            <p><strong>Top Innovator:</strong> Awarded for implementing scalable data pipelines, 2022</p>
        </div>
    </div>
</section>


<section>
    <h2>Contact Me</h2>
    <div class="contact-section">
        <p>Feel free to reach out to me for collaboration or inquiries!</p>
        <ul>
            <li>Email: <a href="mailto:atuloffdev@gmail.com">atuloffdev@gmail.com</a></li>
            <li>Phone: +91 - 972 752 2431</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/atul-kumar-5b8b1b169/" target="_blank">linkedin.com/in/atul-kumar-5b8b1b169</a></li>
            <li>GitHub: <a href="https://github.com/Atul9662" target="_blank">github.com/Atul9662</a></li>
        </ul>
    </div>
</section>
{% endblock %}
